html{
    padding: 0;
    margin: 0;
}
/* navbar */
nav{
    border-bottom: 10px solid black;
}
nav .container-fluid img{
    border-radius: 50%;
    border: 5px solid yellow;
    height: 20vh;
}
.ul-nav{
    width: 100%;
}
.title{
    font-family: 'Righteous';
    font-weight: bold;
    font-size: 5vh;    
}
 .menuSelect{
    width: 100%;
} 
/* 
home */

/* 
card section */

.card-section .cards{
  
    display: flex;
    align-content: space-between;
    align-items: center;
    justify-content: center;
}
.col1{
    width: 50%;
    
}
.col2{
    width: 50%;
   
}
.card{
    border-radius: 10px;
    border: 2px solid yellow;
    margin:auto;
    align-items: flex-start;
    height: fit-content;
    margin-bottom: 3vh;
    
}
.card-section{
    background-color: rgb(7, 5, 5);
    margin:0;
    padding-top: 10vh;
    border-bottom: 10px solid red;
}
.card-section .card h5{
    font-family: 'Rock Salt';
    font-size: 7vh;
    font-weight: bolder;
    margin: 5vh;
    background-color: yellow;
    text-align: center;
    width: 5em;
}
.card-text{
    font-family: 'Righteous';
}
.card-body{
    padding: 0%;
}
.card-section .head-title h2{
    font-family: 'Righteous';
    font-weight: bolder;
    text-align: center;
    font-size: 8vh;
    color: #fff;
    padding-bottom: 8vh;
}
.card-section .card a{
    color: black;
    font-family: 'Righteous';
    font-weight: bold;
    margin: 5vh;
    background-color: yellow;
    border: black solid 2px;
}
.card-section .card a:hover{
    transform: scale(2);

}


/* carousel section */

#carouselExampleIndicators{
    border-bottom: 10px solid yellow;
}


/* footer */

footer img{
    border-radius: 50%;
    border: 5px solid yellow;
    height: 20vh;
}