html{
    padding: 0;
    background-color: #fff;
}
/* navbar */

nav .container-fluid img{
    border-radius: 50%;
    border: 5px solid yellow;
    height: 20vh;
}

/* 
card section */

.card-section .cards{
    /* display: flex;
    gap: 10px;
    gap: 10px 20px; /* row-gap column gap */
    /* row-gap: 10px;
    column-gap: 20px; */
    display: flex;
    align-content: space-around; 
    
}
.card{
    border-radius: 10px;
    border: 2px solid black;
    margin:20px;
    align-items: flex-end;
    
}




footer img{
    border-radius: 50%;
    border: 5px solid yellow;
    height: 20vh;
}